/* /////////////////////// [ COMPARTMENT ] */

.pull-left {
  float: left !important;
}

.pull-right {
    float: right !important;
  }

  /* styling */

  /* restyle tag */

  * {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
  }


  /*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.mytable .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.mytable .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.mytable .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.mytable .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*/////////[ Table Wrappers]*/

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-mytable {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-mytable {
  width: 1170px;
}

/*///////////[ Table ]*/
.mytable {
  background-color: #fff;
}

.mytable table {
  width: 100%;
  border-collapse: collapse;
}

.mytable th,td {
  text-align: center;
}

.mytable th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 16.6667%;
  padding-left: 40px;
}

.column2 {
  width: 16.6667%;
}

.column3 {
  width: 16.6667%;
}

.column4 {
  width: 16.6667%;
}

.column5 {
  width: 16.6667%;
}

.column6 {
  width: 16.6667;
}

.mytable-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.mytable-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*=============[ Fixed header ]*/
.mytable {
  position: relative;
  padding-top: 60px;
}

.mytable-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.mytable-body {
  max-height: 585px;
  overflow: auto;
}

/*===============[ Compartment ]*/

.mytable.ver2 .mytable-head {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.mytable.ver2 th {
  font-family: Lato-Bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #fa4251;
  line-height: 1.4;

  background-color: transparent;
}

.mytable.ver2 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.mytable.ver2 .mytable-body tr {
  border-bottom: 2px solid #f2f2f2;
}

/*---------------------------------------------*/

.mytable.ver2 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.mytable.ver2 .ps__rail-y {
  right: 5px;
}

.mytable.ver2 .ps__rail-y::before {
  background-color: #ebebeb;
}

.mytable.ver2 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}





/*[ Hover ]
-----------------------------------------------------------
*/
.mytable.ver2 .hov-pointer:hover {cursor: pointer;}

/* ------------------------------------ */
/* td {
	overflow: hidden;
} */
/* .mytable td {
	width: 100%;
	-webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
} */


.mytable.ver2 .row:hover td {
  color: #fe3e64;
}


.mytable.ver2 .hov-column-ver2 {color: #fe3e64;}
.mytable.ver2 .hov-column-ver2::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

.mytable.ver2 .hov-column-head-ver2 {
  background-color: #1a3f48 !important;
  color: #fe3e64;
}


.mytable.ver2 .row td:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border: 1px solid #fe3e64;
}

.mytable.ver2 .row td:hover {
  color: #fe3e64;
}


.mytable.ver2 td:hover {
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-ms-transform: scale(1.1);
  	-o-transform: scale(1.1);
  transform: scale(1.1);
}